$green: #42b983;
$red: #E36B6B;
$green-light: #89c997;
$red-light: #F66;

// TAGS
.tag-cloud {
    text-align: center;
    border: 2px solid $red;
    border-radius: 50em;
    padding: 1em 2em;
    a {
        margin-right: .5em;
        color: $red;
        display: inline-block;
        line-height: 1.3;
        padding-left: .75em;
        position: relative;
        text-transform: capitalize;
        font-family: 'Play', sans-serif;
        &:hover {
            border-bottom: 1px solid $red;
		}
        &:before {
            content: '#';
            color: $red;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
		}
	}
}

.post-info .post-tags {
    display: inline-block;
    font-size: .9em;
    margin-left: 1em !important;
}

.post-tag {
    color: $red;
    border: 1px solid $red;
    border-radius: 1.5em;
    display: inline-block;
    font-size: .9em;
    font-family: 'Play', sans-serif;
    line-height: 1.4;
    padding: .05em .5em .2em .5em;
    min-width: 1.5em;
    text-align: center;
    text-transform: capitalize;
    &:hover, &.current-tag {
        background: $red;
        border-color: $red;
        color: white;
	}
    &:not(:last-child) {
        margin-right: .75em;
	}
}


// in archive
.post-item {
    .post-tags {
        margin-left: 100px;
        margin-bottom: .75em;
        display: block;
	}
    .post-tag {
        font-size: .8em;
	}
}